TEAM_ID=
PRODUCT_NAME=lucy
PRODUCT_BUNDLE_IDENTIFIER=com.cephalon.lucyApp.lucy$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

// --- 添加以下内容 ---

// 确保搜索用户路径
USER_HEADER_SEARCH_PATHS = $(inherited)
LUCY_BLOB_ROOT = $(SRCROOT)/../sdk/lucy-im-sdk-kotlin/lucy-blob
OTHER_LDFLAGS[sdk=iphoneos*] = $(inherited) $(LUCY_BLOB_ROOT)/target/aarch64-apple-ios/release/liblucy_blob_core.a
OTHER_LDFLAGS[sdk=iphonesimulator*] = $(inherited) $(LUCY_BLOB_ROOT)/target/aarch64-apple-ios-sim/release/liblucy_blob_core.a
