<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>需要使用相机拍照进行本地部署测试</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册选择图片进行本地部署测试</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要保存图片到相册时使用</string>
</dict>
</plist>
